@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Montserrat", sans-serif;
	width: 100%;
}

.nav2 {
	background-color: #ffffff;
	height: 1rem;
	color: black;
}

.carousel {
	height: 34rem;
}

@media (max-width: 640px) {
	.carousel {
		display: none;
	}
	.paragraph-mobile {
		width: 100%;
		margin: 20px auto;
		text-align: center;
	}

	.paragraph-mobile p {
		font-size: 1.5rem;
	}
}

.icon {
	color: #ff6f61;
}

.background {
	background-color: #ff6f61;
}

.contact {
	color: #ff6f61;
}

.btn-outline {
	background-color: #ff6f61;
	color: white;
	border: #ff6f61;
}
.btn-outline:hover {
	background-color: white;
	color: #ff6f61;
	border: #ff6f61;
}
