@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Playpen Sans", cursive;
}

.carousel-item {
	height: 450px;
}

.navbar {
	height: 120px;
}

.hero-bg {
	background-image: url("./assets/fcp_logo.png");
	background-size: 60% auto;
	background-repeat: no-repeat;
}
