@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-item {
	height: 450px;
}

.hero-bg {
	background-image: url("./assets/fcp_logo.png");
	background-size: 60% auto;
	background-repeat: no-repeat;
}
